{{!< default}}

{{#foreach posts}}
    <div class="blog-post">
        <div class="blog-post-header">
            <a href="{{url}}"><h1 class="blog-post-title">{{title}}</h1></a>
        </div>
        {{#if feature_image}}
            <div class="blog-image-container">
                <img src="{{img_url feature_image}}" class="img-responsive blog-image" alt="">
            </div>
        {{/if}}

        {{ excerpt }} ...
        <a href="{{url}}">Read more &#187;</a>
    </div>
{{/foreach}}

{{ pagination }}
