{{!< default}}

{{#foreach posts}}
   <div class="blog-post">
      <div class="blog-post-header">
         <a href="{{url}}"><h1 class="blog-post-title">{{title}}</h1></a>
         <p class="blog-post-meta">
            {{#author}}<a href="{{url}}">{{name}}</a>{{/author}}<span> - {{date format="DD/MM/YY"}}</span>
         </p>
      </div>
      {{#if image}}
         <div class="blog-image-container">
            <img src="{{image}}" class="img-responsive blog-image" alt="">
         </div>
      {{/if}}

      {{ excerpt }} ...
      <a href="{{url}}">Read more &#187;</a>
   </div>
{{/foreach}}

{{ pagination }}
