{{!< default}}

{{#foreach posts}}
   <div class="blog-post">
      <h2 class="blog-post-title">{{title}}</h2>
      <p class="blog-post-meta">{{date format="DD MMMM YYYY"}} by  {{#author}}<a href="{{url}}">{{name}}</a></p> {{/author}}
      {{#if image}}
         <div class="blog-image-container">
            <img src="{{image}}" class="img-responsive blog-image">
         </div>
      {{/if}}

      {{ excerpt }} ...
      <a href="{{url}}">read more</a>
   </div>
{{/foreach}}

{{ pagination }}
